{% extends "employee_register/base.html" %} 

{% block content %}

<table class="table table-borderless">
	<thead class="border-bottom font-weight-bold">
		<tr>
			<td>Full Name</td>
			<td>Address</td>
			<td>EMP_Code</td>
			<td>Email</td>
			<td>Mobile No.</td>
			<td>Telephone No.</td>
			<td>Position</td>
			<td></td>
		</tr>
		<tbody>
			{% for employee in employee_list %}
				<tr>
					<td>{{employee.fullname}}</td>
					<td>{{employee.address}}</td>
					<td>{{employee.emp_code}}</td>
					<td>{{employee.email}}</td>
					<td>{{employee.mobile}}</td>
					<td>{{employee.telephone}}</td>
					<td>{{employee.position}}</td>
					<td>
						<a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0"><i class="far fa-edit fa-lg"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</thead>
</table>

{% endblock content %}
